@import "config";

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;

  & > h2 {
    color: $white;
    font-size: 2rem;
    margin-block: 1rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0.5rem;

    &__item {
      background-color: #36454f;
      color: $white;
      padding: 1rem;
      border-radius: 8px;
      h3 {
        margin-block: 1rem;
      }
      img {
        width: 100%;
        height: auto;
      }
      &:nth-child(odd) {
        grid-row: span 6;
      }

      & > div.links {
        display: flex;
        gap: 1rem;
        padding-block: 10px;
        a {
          background-color: transparent;
          color: white;
          border: 1px solid $white;
          text-decoration: none;
          border-radius: 4px;
          padding: 10px;
          position: relative;
          overflow: hidden;

          &.repoLink::before {
            content: "Github Repo";
          }
          &.liveLink::before {
            content: "Live Site";
          }
          &::before {
            //content: '';
            position: absolute;
            @include flex-center;
            top: 100%; /* Position it below the button */
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            color: $bg-black;
            transition: top 0.3s; /* Add transition effect */
          }
          &:hover::before {
            top: 0; /* Move the pseudo-element to cover the button */
          }
        }
      }
    }
  }
}
